/* body css*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: lightblue;
}

/* Title head section*/

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.header-title h1{
    text-decoration: underline;
}
.header-title p {
    width: 60%;
    text-align: center;
}

/* generator section */


form {
    border: 1px solid black;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    max-width: 250px;
    margin: 2rem auto;
    display: block;
    line-height: 2rem;
    box-shadow: 2px 2px rgb(202, 202, 202, .5);
}

input[type=submit] {
    background-color: rgb(53, 53, 235);
    border: none;
    padding: .5rem;
    color: white;
    width: 100%;
    border-radius: 5px;
}

form>label {
    display: block;
}

i.successgender,
i.successemail {
    color: yellowgreen;
}

i.failuregender,
i.failureemail {
    color: red;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* display out put section*/
#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

#answer p {
    font-weight: 700;
    font-size: 2rem;
}